meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='icon', href=`${root}/favicon.ico`)
link(rel='stylesheet', type='text/css', href=`${styles}/ua-bootstrap-v1.0.0-beta.19.min.css`)
