doctype html
html
  head
    include commonhead.pug
    title #{dirName}
  body
    div#main(role='main')
      include breadcrumbbar.pug
      .container
        .row
          #content.col-md-9.col-md-push-3
            .page-header
              h1 #{dirName}
            include dirlist.pug
          aside.col-md-3.col-md-pull-9.bg-cool-gray(role='navigation')
            include siblingnav.pug
    include commonfoot.pug
